<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>后台系統-用戶管理业务<button id="exit">退出登录</button></h1>

  <div>
    <div>用戶名: <input id="username" /></div>
    <div>密碼: <input type="password" id="password" /></div>
    <div>年齡: <input type="number" id="age" /></div>
    <div><button id="register">添加用戶</button></div>
  </div>
  <hr>
  <div>
    <button id="update">更新</button>
    <button id="delete">刪除</button>
  </div>
  <hr>
  <table border="1">
    <thead>
      <tr>
        <td>id</td>
        <td>用戶名</td>
        <td>年齡</td>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
  <script>
    var register = document.querySelector("#register")
    var exit = document.querySelector("#exit")
    var username = document.querySelector("#username")
    var password = document.querySelector("#password")
    var btnUpdate = document.querySelector("#update")
    var btnDelete = document.querySelector("#delete")
    var age = document.querySelector("#age")

    register.onclick = () => {
      console.log(username.value, password.value, age.value);

      fetch("/api/user", {
        method: "POST",
        body: JSON.stringify({
          username: username.value,
          password: password.value,
          age: age.value
        }),
        headers: {
          "Content-Type": "application/json"
        }
      }).then(res => res.json()).then(res => {
        console.log(res);
        if (res.ok === 0) {
          location.href = "/login"
        }
      })
    }

    btnUpdate.onclick = () => {
      fetch("/api/user/update/64a540e940506efb466fa412", {
        method: "PUT",
        body: JSON.stringify({
          username: "newName",
          password: "newPass",
          age: 12
        }),
        headers: {
          "Content-Type": "application/json"
        }
      }).then(res => res.json()).then(res => {
        console.log(res);
        if (res.ok === 0) {
          location.href = "/login"
        }
      })
    }
    
    btnDelete.onclick = () => {
      fetch("/api/user/64a540d640506efb466fa410", {
        method: "DELETE",
        headers: {
          "Content-Type": "applicatiorn/json"
        }
      }).then(res => res.json()).then(res => {
        console.log(res);
        if (res.ok === 0) {
          location.href = "/login"
        }
      })
    }

    // 获取列表
    fetch("/api/user?page=1&limit=12").then(res => res.json()).then(res => {
      console.log(res);
      if (res.ok === 0) {
        location.href = "/login"
      }
      var tbody = document.querySelector("tbody")
      tbody.innerHTML = res.map(item => `
           <tr>
             <td>${item._id}</td>  
             <td>${item.username}</td>  
             <td>${item.age}</td>  
           </tr>
           `).join("")
    })

    exit.onclick = () => {
      fetch("/api/logout").then(res => res.json())
        .then(res => {
          // console.log(res);
          if (res.ok===1) {
            location.href="/login"
          }
        })
    }
  </script>

</body>

</html>