<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入</title>
</head>
<body>
  <form action="">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <button type="button" onclick="login()">Login</button>
</form>
</body>
<script>
  function login() {
  var username = document.getElementById("username").value;
  var password = document.getElementById("password").value;

  if (username === "" || password === "") {
    alert("Please enter both username and password");
  } else {
    fetch("/api/login", {
      method: "POST",
      body: JSON.stringify({
        username: username,
        password: password
      }),
      headers: {
        "Content-Type": "application/json"
      }
    }).then(res=>res.json()).then(res=>{
      console.log(res);
      if (res.ok===1) {
        location.href="/"
        // alert("Login successful!");
      }
      else
        alert("Invalid username or password")
    })
  }
}
</script>
</html>